<div class="grid_container">
  <header class="grid_item_nav">
    <nav class="flex_container">
      <div>
        <p>humberger icon</p>
      </div>
      <ul class="flex_container">
        <li><p>mail icon</p></li>
        <li><p>user icon</p></li>
      </ul>
    </nav>
  </header>

  <article class="grid_item_sidebar">
    <p>title</p>
    <p>home</p>
  </article>

  <article class="grid_item_list">
    <div class="flex_container">
      <section>
        <span>icon. Total JPY Blance</span>
        <p onclick="showMsg()">100</p>
        <span>icon. from last week</span>
      </section>
      <section>
        <span>icon. Total JPY Blance</span>
        <p>100</p>
        <span>icon. from last week</span>
      </section>
      <section>
        <span>icon. Total JPY Blance</span>
        <p>100</p>
        <span>icon. from last week</span>
      </section>
    </div>
  </article>

  <article class="grid_item_graph">
    <canvas id="jpy_balance"></canvas>
  </article>
</div>
